$white: #ffffff;
$light-purple: #BF94FF;
$purple: #9147ff;
$light-gray: (rgba(255, 255, 255, 1));
$light-gray2: #BABABB;
$light-gray3: #5A5A5C;
$gray1: #434345; //search bar primary
$gray2: #464646; //label
$gray3: #2E2E31; //search bar secondary
$gray4: #212126; //left strip
$gray5: #18181C; //navbar
$black: #040109; //grid